<form role="search" method="get" class="search-form" action="{{ '/search' | relative_url }}">
  <div class="form-group row">
    <div class="col-md-12">
      <div class="input-group">
        <label class="sr-only" for="site-search">Search</label>
        <input type="search" class="search-field form-control" id="site-search" placeholder="Search …" value="" name="q">
        <span class="input-group-append"><button type="submit" class="search-submit btn btn-primary"><i class="fas fa-search"></i></button></span>
      </div>
    </div>
  </div><!-- /.form-group -->
</form>
