{% assign postsByYear = site.posts | group_by_exp:"post", "post.date | date: '%Y'" %}
<ul class="nav nav-pills">
  {% for year in postsByYear %}
  <li class="nav-item">
    <a class="nav-link" href="#{{ year.name }}">{{ year.name }}</a>
  </li>
  {% endfor %}
</ul>

{% for year in postsByYear %}
<h2 id="{{ year.name }}">{{ year.name }}</h2>
<ul aria-label="posts from {{ year.name }}">
  {% for post in year.items %}
  <li>
    {% include post/post-list-item.html %}
  </li>
  {% endfor %}
</ul>
{% endfor %}