---
---

$gray-base:              #000;
$gray-darker:            lighten($gray-base, 13.5%); // #222
$gray-dark:              lighten($gray-base, 20%);   // #333
$gray:                   lighten($gray-base, 33.5%); // #555
$gray-light:             lighten($gray-base, 46.7%); // #777
$gray-lighter:           lighten($gray-base, 93.5%); // #eee

$primary:               #4c9900;
$brand-primary:         #4c9900;
$brand-success:         #5cb85c;
$brand-info:            #5bc0de;
$brand-warning:         #f0ad4e;
$brand-danger:          #d9534f;

$link-color:              $brand-primary;
$link-hover-color:          $link-color;

@import 'bootstrap/bootstrap';
@import 'scss/bootstrap-toc';

@import 'scss/banner';
@import 'scss/avh-carousel';

body {
  position: relative;
}

.page-header, .post-header {
  h1 {
    margin-top: 22px;
  }
}

#main {
  position: relative;
}

figcaption {
  padding: 6px 0;
  font-size: 90%;
}

.post-sidebar {
  ul {
    list-style-type: none;
    padding-left: 0;

    li {
      padding: 3px 0;
    }
  }
}

/*
----------------------------------------*/
.page-header {
  margin-bottom: 24px;
}


/*
Home page
----------------------------------------*/

#hp-main {
  margin-top: 60px;
}

.pis-ul {
  padding-left: 0;
}

.pis-li {
  min-height: 130px;
  list-style-type: none;
  margin-bottom: 12px;
}

.pis-li::after {
  display: block;
  clear: both;
  content: "";
  padding-bottom: 11px;
  border-bottom: solid 1px #ddd;
}

.pis-li:last-child::after {
  border-bottom: none;
}

a.pis-thumbnail-link {
  display: inline-block;
  float: left;
  padding-top: 8px;
  margin-bottom: -2px;
}

p.pis-excerpt {
  margin-bottom: 0;
}

.alignleft, .align-left {
  display: inline;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

/*
About
-------------------------------------------*/
.avh-contributor {
  padding: 6px 0;
}

td.contributor-logo {
  width: 120px;
  height: 120px;
  vertical-align: middle;
}

td.contributor-text {
  vertical-align: middle;
}

/*
News
------------------------------------------------*/
.post-excerpt>p {
  margin-bottom: 0;
}


/*
Search
-------------------------------------------*/
.search-form {
  margin-bottom: 24px;
}


/*
Footer
-------------------------------------------*/
footer {
  margin-top: 30px;
  padding: 12px;
  height: 120px;
  background-color: #ddd;
}

/*
Blockquote
-------------------------------------------*/
blockquote {
  background: #f9f9f9;
  border-left: 5px solid #ccc;
  margin: 1.5em 0;
  padding: 0.5em 10px;
}
