<div class="avh-search-form">
  <form action="https://avh.ala.org.au/occurrences/search" id="solrSearchForm" _lpchecked="1">
    <div class="avh-input-group">
      <div class="input-group">
        <input type="text" class="form-control" id="avh-search" name="taxa" placeholder="Search...">
        <span class="input-group-btn">
          <button class="btn btn-default" type="submit">Quick search</button>
        </span>
        </div>
      </div>
    <div class="text-right"><a href="https://avh.ala.org.au/search/#tab_advanceSearch">Advanced search</a></div>
  </form>						
</div>
