.site-branding {
  background-color: #4c9900;
  height: 142px;
}

.site-logo {
  float: left;
  padding: 30px 15px 15px 0;

  @include media-breakpoint-up(sm) {
    padding-right: 25px;
  }

  img {
    width: 50px;
    height: 50px;
    margin-bottom: -5px;

    @include media-breakpoint-up(sm) {
      width: 80px;
      height: 80px;
      margin-bottom: 0;
    }
  }

}

.site-title {
  font-size: 60px;
  font-weight: 300;
  margin-bottom: 0;
  padding-top: 12px;

  a {
    color: #fff;
  }
}

.site-description {
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 25px;
  color: #fff;
  font-weight: 300;
}



