{% for post in site.categories.News limit:8 %}
<div>
  <h2><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
  <p>{% include post/post-date.html %}</p>
  {% if post.hero %}
  {% include figure.html 
    src=post.hero
    alt="Hero image"
  %}
  {% endif %}
  <div class="post-excerpt">{{ post.excerpt }}</div>
  <p class="post-readmore"><a href="{{ post.url  | relative_url }}">Read more...</a></p>
  <p class="post-tags">
    {% include post/post-categories.html %}
    {% include post/post-tags.html %}
  </p>
</div>
{% endfor %}
